<nav class="top-bar custom-top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Home</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Home</span></a></li>
  </ul>
</nav>